body {
    font-family: Calibri;
    margin: 0; /* Přidáno pro jistotu, aby se vymazaly implicitní okraje */
    background: linear-gradient(135deg,#05012b,#420101);
    background-attachment: fixed;
}

#board {
    margin: 50px auto 0; /* 50px horní mezera, automatické zarovnání vodorovně, 0px spodní mezera */
    width: 35%; /* Pevná šířka, která se mění s velikostí okna */
    max-width: 800px; /* Maximální šířka pro zabránění přílišnému roztažení */
    display: block;
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}


a{
    text-decoration: none;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: calibri;
}

nav{
    background: linear-gradient(135deg,#04021b,#210101);
    height: 80px;
    width: 100%;
}
label.logo{
    color: #fff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background-color: #ababab5f;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg,#0b0452,#550303);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #ababab5f;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media screen and (max-width: 800px) {
    #board {
        width: 70%; /* Upravit podle potřeby */
    }
}

@media screen and (max-width: 600px) {
    #board {
        width: 60%; /* Upravit podle potřeby */
    }
}

