* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Calibri;
    margin: 0; /* Přidáno pro jistotu, aby se vymazaly implicitní okraje */
    background: linear-gradient(135deg,#05012b,#420101);
    background-attachment: fixed; /* Přichycení pozadí k oknu prohlížeče */
}

header {
    background: linear-gradient(135deg, #04021b, #210101);
    padding: 5px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-title a{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
}

.header-title hr {
    border: none;
    width: 175%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
}

.header-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header-btn a:hover {
    font-size: 25px;
}

main {
    padding: 20px;
    height: 100vh; /* Tento řádek zajistí, že main zabere celou výšku obrazovky */
    background: linear-gradient(135deg,#05012b,#420101);
    background-attachment: fixed; /* Přichycení pozadí k oknu prohlížeče */
}

.container {
    background: linear-gradient(135deg, #070424, #270101);
    width: 75%;
    margin: 0 auto; /* Umístí kontejner na střed vodorovně */
    padding-top: 1px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: 1px solid #fff;
    text-align: center; /* Zarovná obsah kontejneru na střed */
}

.comment,
.reply {
    margin-top: 5px;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.reply {
    border: 1px solid #ccc;
    border-radius: 15px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

h4{
    color: #fff;
    font-size: 20px;
}

h3 {
    color: #fff;
    font-size: 20px;
}

form {
    margin: 10px;
}

form h3 {
    margin-bottom: 5px;
}

/* Ponechat styly pro vstupy a textová pole */
form input,
form textarea {
    width: 75%;
    padding: 10px;
    margin: 0 auto 20px; /* Umožní vše umístit na střed */
    background-image: linear-gradient(135deg, #154399, #1269bb);
    color: #fff;
    font-size: 14px;
    border-radius: 15px;
}

form input::placeholder,
form textarea::placeholder{
    color: #c0c0c0;
}

/* Nastavení výchozí výšky textarea na 5 řádků */
form textarea {
    height: auto;
    min-height: 100px; /* Zajišťuje, že textarea bude vždy alespoň 5 řádků vysoká */
    overflow-y: auto; /* Zobrazí svislý posuvník, pokud je obsah delší než výchozí výška */
    resize: vertical; /* Umožní uživateli změnit výšku textarea pouze ve vertikálním směru */
}

/* Ponechat původní styly pro tlačítka a upravit je na střed */
form button.submit,
button.reply {
    display: block;
    margin: 0 auto 20px; /* Umožní umístit tlačítka na střed */
    width: 75%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #170f4e, #0a2c77);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

form button.submit:hover {
    background-image: linear-gradient(135deg, #142985, #0f5ec7);
}

button.reply {  
    background-image: linear-gradient(135deg, #2b0505, #6b0303);
}

button.reply:hover {  
    background-image: linear-gradient(135deg, #410b0b, #960606);
}