/* Základní styl */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: calibri;
}

body {
    font-family: Calibri;
    margin: 0; /* Přidáno pro jistotu, aby se vymazaly implicitní okraje */
    background: linear-gradient(135deg,#05012b,#420101);
    background-attachment: fixed; /* Přichycení pozadí k oknu prohlížeče */
    overflow: hidden; /* Zakázat posouvání obsahu */
}


nav {
    background: linear-gradient(135deg,#04021b,#210101);
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background-color: #ababab5f;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg,#0b0452,#550303);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #ababab5f;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* Obsah */
.contact-container {
    display: flex;
    align-items: center; /* Zarovnání na střed na ose Y */
    justify-content: center; /* Zarovnání na střed na ose X */
    gap: 10%; /* Odstup mezi prvky */
    padding: 10%; /* Odsazení okolo obsahu */
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zarovnání na střed na ose X */
    gap: 20px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 15px;
}


.contact-left-title h2 {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 150%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #154399, #1269bb);
    font-size: 14px;
    border-radius: 15px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #261893;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    justify-content: center; /* Zarovnání obsahu na střed */
    margin: 5px auto; /* Vytvoření odstupu mezi tlačítkem a ostatními prvky */
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #170f4e, #0a2c77);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.contact-left button:hover {
    background-image: linear-gradient(135deg, #142985, #0f5ec7);
}

.contact-right img {
    width: 450px;
    border-radius: 50px;
}

@media (max-width: 1000px) {
    .contact-right img {
        display: none; /* Skryje obrázek */
    }
}