*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Calibri;
    
}
header{
    background: linear-gradient(135deg,#04021b,#210101);
    padding: 5px;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title a{
    color: #fff;
    font-size: 50px;
    font-weight: 600;

}
.header-title hr{
    border: none;
    width: 175%;
    height: 5px;
    background-color:  #fff;
    border-radius: 10px;
}
.header-btn a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.header-btn a:hover{
    font-size: 25px;
}
.index_container{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
.index_left{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.index_right img{
    width: 450px;
    border-radius: 20px;
}
.index_right a:hover{
    cursor: default;
}

.gamesButton {
    cursor: pointer;
    display: inline-block; /* Přidáno pro umístění vedle sebe */
    padding: 25px;
    border: 4px solid #fff;
    border-radius: 5px;
    /* background-color: rgb(218, 217, 218); */
    background-image: linear-gradient(135deg, #0c0636,#5c0505);
    text-align: center;
    text-decoration: none;
    margin: 0 30px; /* Mezera mezi tlačítky */
    width: fit-content; /* Nastavení šířky podle obsahu */
}
.gamesButton:hover {
    border: 8px solid #fff;
    background-image: linear-gradient(135deg, #160c58,#790909);
}
.gamesButton img {
    vertical-align: middle;
}
.gamesButton span {
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    
}
.gamesDiv {
    padding-top: 50px;
    display: flex;
    justify-content: center; /* Zarovnání obsahu vodorovně na střed */
}

main {
    background: linear-gradient(135deg,#05012b,#420101);
    height: calc(100vh - (2rem + 10px)); /* 2rem pro padding v headeru, 10px pro padding v footeru */
}

footer {
    background: linear-gradient(135deg,#04021b,#210101);
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: Arial;
    padding: 20px;
    position: fixed;
    bottom: 0;
}
