/* Základní styl */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: calibri;
}

/* Záhlaví */
nav {
    background: linear-gradient(135deg,#04021b,#210101);
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background-color: #ababab5f;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(135deg,#0b0452,#550303);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #ababab5f;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* Obsah */
main {
    background: linear-gradient(135deg,#05012b,#420101);
    height: calc(100vh - 80px); /* Výška obsahu je 100% minus výška záhlaví */
    width: 100%; /* Rozšíření na celou šířku */
    overflow-y: auto; /* Povolení svislého posouvání obsahu, pokud je to potřeba */
    margin-top: -1px; /* Odstranění mezery mezi záhlavím a obsahem */
}

.index_container {
    /* height: 100%; Umožní obsahu růst až na výšku main */
    display: flex;
    /* flex-direction: column; Obsah bude sloupcově */
    align-items: center; /* Zarovnání na střed na ose Y */
    justify-content: center; /* Zarovnání na střed na ose X */
    padding-top: 10%;
    gap: 10%;
}




.index_left {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.index_right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Upraveno pro zarovnání na střed horizontálně */
}

.index_right img {
    width: 500px;
    border-radius: 20px;
}

.index_right a:hover {
    cursor: default;
}

.gamesButton {
    cursor: pointer;
    display: inline-block;
    padding: 25px;
    border: 4px solid #fff;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #0c0636,#5c0505);
    text-align: center;
    text-decoration: none;
    margin: 20px 30px; /* Upraveno, aby tlačítka měla více prostoru nahoře a dole */
    width: fit-content;
}
.gamesButton:hover {
    /*border: 8px solid #fff;*/
    scale: 110%;
    background-image: linear-gradient(135deg, #160c58,#790909);
    transition: 0,25s;
}

.gamesButton img {
    vertical-align: middle;
}

.gamesButton span {
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
}
.gamesDiv {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; /* Upraveno pro zarovnání na střed vertikálně */
    flex-wrap: wrap; /* Přidáno pro umožnění zalomení prvků na nový řádek */
}

body {
    font-family: Calibri;
    margin: 0; /* Přidáno pro jistotu, aby se vymazaly implicitní okraje */
    background: linear-gradient(135deg,#05012b,#420101);
    background-attachment: fixed;
}

@media (max-width: 1000px) {
    .index_right img {
        display: none; /* Skryje obrázek, když je šířka okna menší než 1000px */
    }
}
@media (max-width: 600px) {
    .gamesButton {
        margin: 20px 10px; /* Snížení mezery mezi tlačítky na menších obrazovkách */
    }
}
