h1 {
    text-align: center;
    font-size: 75px;
    font-family: Arial;
    color: #fff;
    background-color: rgb(4, 12, 124);
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px;
}


.btn1 {
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(0, 58, 167);
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}
.btn1:hover {
    background-color: rgb(29, 89, 202);
}

.btn2 {
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    background-color: rgb(10, 3, 114);
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}
.btn2:hover {
    background-color: rgb(26, 36, 173);
}

body {
    background-color: #fff;
}

main {
    padding: 30px; /* Odsazení pro lepší čitelnost obsahu */
    
}

header {
    text-align: center;
    padding: 5px;
    border-bottom: 3px solid black;
}

html, body {
    margin: 0;
    padding: 0;
}

.menuBTN {
    display: flex; /* Použití flexboxu pro kontejner */
    justify-content: center; /* Zarovnání na ose x */
    align-items: center; /* Zarovnání na ose y */

}

.menuBTN a {
    padding: 10px 20px; /* Polstrování pro odkazy */
    margin-right: 10px; /* Odsazení mezi odkazy */
    text-decoration: none; /* Odstranění podtržení */
}

