h1 {
    text-align: center;
    font-size: 75px;
    font-family: Arial;
    color: #fff;
    background-color: rgb(4, 12, 124);
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px;
}


.btn1 {
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(0, 58, 167);
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}
.btn1:hover {
    background-color: rgb(29, 89, 202);
}

.btn2 {
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    background-color: rgb(10, 3, 114);
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}
.btn2:hover {
    background-color: rgb(26, 36, 173);
}

body {
    background-color: #fff;
}

main {
    padding: 30px; /* Odsazení pro lepší čitelnost obsahu */
}

header {
    text-align: center;
    padding: 5px;
    border-bottom: 3px solid black;
}

html, body {
    margin: 0;
    padding: 0;
}

.menuBTN {
    display: flex; /* Použití flexboxu pro kontejner */
    justify-content: center; /* Zarovnání na ose x */
    align-items: center; /* Zarovnání na ose y */
    padding-bottom: 20px;
}

.menuBTN a {
    padding: 10px 20px; /* Polstrování pro odkazy */
    margin-right: 10px; /* Odsazení mezi odkazy */
    text-decoration: none; /* Odstranění podtržení */
}



footer {
    padding: 5px; /* Polstrování zápatí */
    text-align: center; /* Zarovnání textu na střed */
    border-top: 3px solid black;
    font-family: Arial;
    font-size: 20px;
}


 /* -------------------------------------------------------------------------- */
form {
    max-width: 35%;
    margin: 0 auto;
    padding: 50px;
    background-color: #919191;
    border-radius: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 3px;

    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(4, 12, 124);
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    font-family: Arial;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: rgb(29, 89, 202);
}

